.contato label {display: none; color: rgba(255, 255, 255, 0.85); font-size: 24px;}
.contato .entrada {display: none;  width: 100%; height: 51px; border: 0; background: rgba(0, 0, 0, .2); outline: 0; padding-left: 10px; font-size: 24px; color: rgba(255, 255, 255, 0.85);}
.contato label:first-child {display: inline-block;}
.inputs #leadname {display: inline-block;}
.contato {position: relative; width: 450px; margin: 0 auto; margin-top: 100px;; margin-bottom: 180px;}
.mensagem {display: none; width: 100%; height: 92px; text-align: center; padding-top: 40px; font-size: 24px; color: rgba(255, 255, 255, 0.85); line-height: 30px;}
.labels {position: absolute; top: -15px; left:0;}
.inputs {position: absolute; top: 20px; left: 0; width: 100%;}
.pos_numero {position: absolute; top: 80px; right: 0; font-size: 12px; letter-spacing: 2px; color: rgba(255, 255, 255, 0.85);}
#alerta {position: absolute; top: 80px; left: 0; font-size: 12px; color: #37c987;}
#proximo {position: absolute; top: 20px; right: 0; background-image: url(../images/btn-right.png); background-repeat: no-repeat; background-position: center; width: 60px; height: 51px; background-color: transparent; border: none; outline: 0; cursor: pointer;}
.barra {background-color: rgba(0, 0, 0, .1); width: 100%; height: 5px; position: absolute; top: 71px; left: 0;}
.progresso {background-color: rgba(255, 255, 255, .5); width: 0; height: 5px;}
